@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

$my-yellow : #E8CD5E;
$border-color : #9694A1;
$test : red solid 1px;
$dark-background: #2A3138;


body {
    background-color: #303841;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
}

textarea {
    resize: none;
 }

 a {
    color: inherit;
}

.body-content {
    margin-top: 4em;
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #303841;
    header {
        border-bottom: 1px solid $border-color;
        display: flex;
        justify-content: space-between;
        
        

        #logo {
            width: 10vw;
            height: 5vh;
            margin:  0.5em 2em;


            img {
                width: 8vw;
                height: 5vh;
                object-fit: contain;
            }
        }
        nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            margin: 1em 5em;
            padding: 0;
            li {
                list-style: none;
                margin: 0 2em 0 2em;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        color: $my-yellow;
                        text-decoration: underline;
                }}
                .on-page {
                    color: $my-yellow !important;
                }
            }
            }

            button {
                margin: 0.6em;

            }
        }
    }
}

h1 {
    margin: 0.2em auto;
    width: fit-content;
    font-size: 4em;
}

.connexions {
    margin: 8% auto;
    width: min-content;
    display: flex;

    button {
        margin: 2em;
        width: 10vw;
        height: 6vh;
    }

}

.empty-btn {
    color: $my-yellow;
    font-size: 90%;
    background-color: rgba(0, 0, 255, 0);
    font-family: 'Roboto', sans-serif;
    border: $my-yellow 1px solid;
    border-radius: 0.5em;
    &:hover {
        color: black;
        background-color: $my-yellow;
        cursor: pointer;
    }
    
}

.full-btn {
    color: black;
    font-size: 90%;
    background-color:$my-yellow;
    font-family: 'Roboto', sans-serif;
    border: $my-yellow 1px solid;
    border-radius: 0.5em;
    &:hover {
        color: $my-yellow;
        background-color: rgba(0, 0, 255, 0);
        cursor: pointer;
    }
}



.accueil {
    display: flex;

    

    .feed {
        form {
            display: flex;;
            flex-direction: column;
            margin: 1em 5em;
            border: $border-color solid 1px;
            border-radius: 1em;
            padding: 1em;

            textarea {
                padding: 3em;
                border: none;
                border-radius: 1em;
                width: 50vw;
                height: 10vh;
                margin: 0 auto;
                background-color: $dark-background ;
                padding: 1em;
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 1em ;

                
                &::placeholder {
                    color: $border-color;
                }
            }

            button {
                width: 7vw;
                height: 5vh;
                margin: 2em auto 1em auto;
            }
        }
    }
}

.profil-infos {
    border: $border-color solid 1px;
    border-radius: 1em;
    margin: 1em 0 0 2em;
    padding: 0.6em;
    width: 20vw;
    height: min-content;
    color: white;

    .user {
        display: flex;
        align-items: center;
        img {
        margin: 0.3em 1em 0 1em;
        width: 3vw;
        height: 6vh;
        border-radius: 50%;
        border: 2px solid white;
        &:hover {
            border: 2px solid $my-yellow;
     
        }
        }

        p {
            text-decoration: underline;
            font-size: 1.2em;
            &:hover {
                color: $my-yellow;
            }
        }
    }
    .user-infos {
        margin: 1em;

        p {
            margin: 0.5em 0;
        }
    }

    .abonnement-infos {
        display: flex;
        justify-content: left;
        margin-left: 1em;

        p {
            margin: 0em 1em 0 0;
        }
    }
}



.poste {
    background-color: $dark-background;
    border-radius: 1em;
    margin: 1em auto ;
    padding: 1em;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    
    .user {
        img {
            margin-top: 0.3em;
            width: 3em;
            height: 3em;
            border-radius: 50vw;
            border: 2px solid $my-yellow;
        }

        p {
            color: $my-yellow;
            font-size: 1.2em;
            margin-left: 0.5em;
            
        }

        a {
            text-decoration:inherit;
            &:hover {
                text-decoration: $my-yellow underline;
            } 
         }
    }
    
        

    .interactions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
            .img-bloc {
                display: flex;
                width: min-content;
                margin-top: 0.5em;
                button {
                   border: none;
                    width: 2vw;
                    height: 4vh;
                    background-color: inherit;
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    
                }
                .btn-fav{
                    
                    background-image: url("./files/grey-heart.png");
                    background-size: 106% ;
                    
                }
                .btn-fav-done{
                    
                    background-image: url("./files/yellow-heart.png");
                    background-size: 106% ;
                    
                }

                .btn-com {
                    background-image: url("./files/grey-comment.png");
                    background-size: 130% ;
                    &:hover {
                        background-image: url("./files/yellow-comment.png");
                    }
                }
                .btn-delete {
                    align-self: flex-start;
                    background-image: url("./files/grey-bin.png");
                    background-size: 120% ;
                    &:hover {
                        background-image: url("./files/yellow-bin.png");
                    }

                }
                p {
                    color: $border-color;
                    padding: 0.2em 0.5em 0 0.5em;
                    margin: 0;
                    
                }
        
        }
    }
    .content {
        .text-content {
            font-size: 1.1em;
            margin-left: 0.2em;
        }
        .date {
            
            color: $border-color;
            font-size: 0.8em;

        }
    }
    
}

.profil-page {

    .profil {
        margin: 1em auto 0 auto;
        border: $border-color solid 1px;;
        border-radius: 1em;
        width: 40vw;
        padding: 1em;
        
        .user {
            img {
                margin: 0.3em 0.5em 0 0;
                max-width: 16vh;
                max-height: 16vh;
                border-radius: 50%;
                border: 2px solid $my-yellow;
            }

            p {
                font-size: 2.3em;
                margin-left: 0.4em;
            }

            button {
                width: 8vw;
                height: 6vh;
                margin: 1em 0 2em 14em;
                
            }
            
        }
        .abonnement-infos {
            button {
                background-color: #303841;
                color: white;
                border: none;
                font-size: 1em;
                &:hover {
                    color: $my-yellow;
                    text-decoration: $my-yellow underline;
                    cursor: pointer;


                }
               
            }
        }
    }

    .nav-list {
        list-style: none;
        display: flex;
        margin: 2em auto 0 auto;
        width: 62vw;
        padding: 0 ;
        
        button {
            width: 31vw;
            height: 7vh;
            background-color: $dark-background;
            border: solid 1px $border-color;
            color : white;
            font-size: 1.2em;
            cursor: pointer;
            &:focus { 
                outline: 0;
            }

        }
    }

    .profil-feed {
        margin: 0 auto;
        width: 70vw;
        padding: 0 1em 1em 1em;

        
}
}


.user {
    display: flex;
    justify-content: left;
}

.clicked {
    border-top: $my-yellow solid 3px !important;
}

// inscriptions et connections

.connexion-forms {
    border: $test;
    width: fit-content;
    margin: 0 auto 2em auto;
    padding: 1em;
    background-color: $dark-background;
    border: $my-yellow solid 1px;
    border-radius: 1em;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    input {
        margin: 1em 1em 0.2em 1em;
        height: 5vh;
        padding: 0.6em;
        width: 30vw;
        border: $my-yellow solid 1px;
        border-radius: 10px;
        background-color: $dark-background;
        color: white;

        

        &:focus { 
            outline: 0;
        }
        &::placeholder {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2em;
            color:white;
            
        }
    }

    .valid-input {
        
        color: $my-yellow;
        margin: 0 0 1.5em 2em ;
        font-size: 0.8em;
        align-self: flex-start;
        max-width: 25vw;

    }

    .not-valid-input {
        
        color: red;
        margin: 0 0 1.5em 2em ;
        font-size: 0.8em;
        align-self: flex-start;
        max-width: 25vw;

    }


    button {
        width: 10vw;
        height: 5vh;
    }

    .date {
        &::-webkit-datetime-edit {
            font-family: 'Roboto', sans-serif;
            font-size: 1.2em;
            color:white;
            padding: 0.5em;
        }

        &::-webkit-calendar-picker-indicator{
            filter: invert(1);
            width: 3vw;
            height: 3vh;
            cursor: pointer;
            
        }

    }
    

    
}

.pop-up {
    box-shadow:  0 0 30px black;
    background-color: $dark-background;
    width: fit-content;
    height: 70vh;
    position: fixed;
    top: 0;
    bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    overflow: hidden;

    .nav-btn {
        list-style: none;
        display: flex;
        margin: 0 auto;
        width: 100%;
        padding: 0 ;
        border-radius: inherit;
        
        button {
            width: 100%;
            height: 8vh;
            background-color: $dark-background;
            border: none;
            border-bottom: solid 1px $border-color;
            
            
            color : white;
            font-size: 1.2em;
            cursor: pointer;
            &:focus { 
                outline: 0;
            }
            &:first-child {
                border-right:solid 1px $border-color;
            }

        }
    }
    .close-part {
        border-top: $border-color solid 1px;
        text-align: center;
        margin: 0 auto; 
        position: absolute;
        bottom: 0;      
        width: 100%;
        .close-btn {
            margin: 1em;
            width: 6vw;
            height: 5vh;
        }
    }

    
    .user-list {  
        height: 30vw;
        overflow-y: auto;
        overflow-x: hidden;

        .container{
            display: flex;
            width: 100%;
            padding: 0.5em;
            border-bottom: $border-color solid 1px;
            img {
                margin: 0.7em 0.5em 0 0;
                width: 3vw;
                height: 6vh;
                border-radius: 50%;
                border: 2px solid $my-yellow;
            }
    
            p {
                font-size: 1.3em;
                margin-left: 0.4em;
            }
    
            button {
                width: 8vw;
                height: 6vh;
                margin: 1em 0 2em 9em;
                
            }
        }
        
    } 

    

}

.modify-pop-up {
    box-shadow:  0 0 30px black;

    background-color: $dark-background;
    width: min-content;
    height: 75vh;
    position: fixed;
    top: 0;
    bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    overflow: hidden;
    .pop-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 2em;
            height: 2em;
            border-radius: 0px!important;
        }
        
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        input {
            margin: 1em 1em 0.2em 1em;
            height: 5vh;
            padding: 0.6em;
            width: 30vw;
            border: $my-yellow solid 1px;
            border-radius: 10px;
            background-color: $dark-background;
            color: white;

            

            &:focus { 
                outline: 0;
            }
            &::placeholder {
                font-family: 'Roboto', sans-serif;
                font-size: 1.2em;
                color:white;
                
            }
        }
        textarea {
            margin: 1em 1em 0.2em 1em;
            height: 8vh;
            padding: 0.6em;
            width: 30vw;
            border: $my-yellow solid 1px;
            border-radius: 10px;
            background-color: $dark-background;
            font-family: 'Roboto', sans-serif;
            color: white;
            &:focus { 
                outline: 0;
            }
            &::placeholder {
                font-family: 'Roboto', sans-serif;
                font-size: 1.2em;
                color:white;
                
            }
        }
        .btn-div {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                width: 8vw;
                height: 6vh;
                margin: 1em 0 2em 1em;
                
            }
        }
            
    }
}

.comment-box {
    // border: $border-color solid 1px;
    // border-radius: 1em;
    box-shadow:  0 0 30px black;
    background-color: $dark-background;
    width: 50vw;
    height: 96vh;
    position: fixed;
    top: 0;
    bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
    justify-content: center;


    .header {
        text-align: center;
        height: 8vh;
        width: 100%;

        h3 {
            margin:0.8em 0.2em 0.2em 0.2em;
        }
        
        button {
            height: 4.5vh;
            width: 2.3vw;
            font-size: 1.2em;
            border-radius: 0px !important;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .post-content {
        
        border: solid 1px $my-yellow;
        border-radius: 1em;
        height: fit-content;
        padding: 1em 0.5em 1em 0.5em;
        margin: 1em;
    }
    .feed-box {
        height:64.5vh;
        border-top: $border-color solid 1px;
        overflow-y: auto;
        overflow-anchor: none;
        // border: $test;

        .anchor {
            height: 4em;
           
            }
        .response {
            margin: 0.8em;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            // border: $test;
            img {
                margin: 0.3em 1em 0 0;
                width: 3vw;
                height: 6vh;
                border-radius: 50%;
                border: 2px solid $my-yellow;
            }

            p {
                border: solid 0.5px $my-yellow;
                border-radius: 1.2em;
                padding: 1em;
                margin: 0;
            }
        }
        .my-response {
            flex-direction: row-reverse;
            img {
                margin: 0.3em 0 0 1em;
            }

            p {
                background-color: $my-yellow;
                color: $dark-background;
            }
        }

        .creator-response {
            img {
                border-color:white !important;
            }

            p {
                background-color: white;
            color: $dark-background;
            border-color: white !important;
            }
        }
        
    }
    .add-comment {
        // border: $test;
        position: absolute;
        bottom: 0;    
        margin: 0 auto; 
        max-width: 100%;
        width: 100vw;
        height:5vh;
        
        .comment-form {

            width: 100%;
            height:5vh;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            border: none;
            input {
                // width: 80%;
                flex-grow: 5;
                height: 100%;
                margin: 0;
                box-sizing: border-box ;
    
            }
            button {
                // width:18%;
                flex-grow: 1;
                box-sizing: border-box !important;
                height: 100%;
                border-radius: 0px !important;
                margin: 0;
    
            }
        }
        
    }
}

.decouvrir {
    display: flex;
    flex-direction: row;
    .feed {
        form {
            display: flex;;
            flex-direction: row;
            align-items: center;
            margin: 1em 5em;
            border: $border-color solid 1px;
            border-radius: 1em;
            padding: 1em;

           .search-input {
                padding: 3em;
                border: none;
                border-radius: 0.5em;
                width: 55vw;
                height: 5vh;
                margin: 0 auto;
                background-color: $dark-background ;
                padding: 0.6em;
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 1em ;

                
                &::placeholder {
                    color: $border-color;
                    padding: 0.4em;
                }
            }

            .search {
                width: 2.4em;
                height: 2.4em;
                margin: 0;
                background-image: url("./files/dark-search.png");
                background-size: 85% ;
                background-repeat: no-repeat;
                background-position: center;
                &:hover {
                    background-image: url("./files/yellow-search.png") !important;
                }
            }
        }
    }
}

//---------------Mobile-view


@media (max-width: 480px) {
    body {
        padding: 4.2em 0;
        max-width: 100%;
    }
    .feed {
        form {
            margin: 0.5em;
        }
    }
    .mobile-header {
        border-bottom: $border-color solid 1px;
        background-color: $dark-background;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 8vh;
        width: 100%;
        header {
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .sign-out {
                border: none;
                width: 8vw;
                height: 5vh;
                margin:  0.5em 2em;
                background-color: inherit;
                background-position: center;
                background-repeat: no-repeat;
                cursor: pointer;
                align-self: flex-start;
                background-image: url("./files/white-off.png");
                background-size: 84% ;
                &:hover {
                    background-image: url("./files/yellow-off.png");
                }
            }
            #logo {
                width: 10vw;
                height: 5vh;
                margin:  0.5em 2em;
        
        
                img {
                    width: 25vw;
                    height: 5vh;
                    object-fit: contain;
                }
            }
    
        }
    }
    
    
    .mobile-nav {
        border-top: $border-color solid 1px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0.5em;
        background-color: $dark-background;
    
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        
            a {
                height: 100%;
            }
            .home-icon {
               
                margin-top: 0.3em;
                width: 3em;
                height: 3em;
                background-image: url("./files/yellow-home.png");
                background-size: 84% ;
                background-position: center;
                background-repeat: no-repeat;
    
            }
            .search-icon {
                
                margin-top: 0.3em;
                width: 3em;
                height: 3em;
                background-image: url("./files/yellow-search.png");
                background-size: 84% ;
                background-position: center;
                background-repeat: no-repeat;
            }
            .profile-image {
                border: $test;
                margin-top: 0.3em;
                width: 3em;
                height: 3em;
                border-radius: 50vw;
                border: 2px solid $my-yellow;
                    
            }
        }
    }
    .body-content {
        margin-top: 0;
        h1 {
            font-size: 2.2em;
        }
        button {
            font-size: 1em;
            width: 25vw;
        }
        
        
    }
    .connexion-forms {
        form {
            input {
                width: 60vw;
            }
        }
    }
    .accueil {
        display: flex;
        justify-content: center;
        .feed {
            width: 90%;
            form {
                padding: 0;
                margin: 0;
                width: 100%;
                display: flex;
                
                textarea {
                    margin: 0.8em;
                    align-self: center;
                    width: 70vw;
                    font-size: 0.7em;
                    height: 6vh;
                }
                button {
                    margin: 0 0 1em 0 ;
                    align-self: center;
                    width: 16vw;
                    height: 2.3em;
                    font-size: 0.8em;
                }
            }
          
            
        }
    }
    .poste {
        width: 100%;
        padding: 0;
        height: 7em;
        .user {
            img {
                width: 2em;
                height: 2em;
                margin: 0.8em 0 0.5em 0.5em;
            }
        }
        .content {
            .text-content {
                font-size: 0.8em;
                margin: 0 0.8em;
            }
            .date {
                font-size: 0.6em;
                margin: 0.4em 0.8em;

            }
        }
        .interactions {
            .img-bloc {
                margin: 0;
                display: flex;
                align-items: center;
                p {
                    font-size: 0.7em;
                    margin-bottom: 0.2em;
                }
                &:first-child {
                    margin-top: 0.4em;
                }
            }
        }
    }
    .comment-box {
        width: 100%;
        height: 100%;
        z-index: 4;
        .header {
            button {
                width: 1.5em;
                height: 1.5em;

            }
        }
        .feed-box {
            .response {
                img {
                width: 2em;
                height: 2em;
                }
            }
        }
    }
    .profil-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .profil {
            margin: 0;
            width: 90%;
            padding: 0;
            p {
                font-size: 0.9em;
                margin: 0.5em 1em;
            }
            .user {
               display: flex;
               align-items: center;
                button {
                    margin: 0 0 0 2em;
                    font-size: 0.8em;
                    width: 4.5em;
                    height: 2.5em;
                }
                img {
                    width: 4em;
                    height: 4em;
                    margin: 0.5em;
                }
                p {
                    font-size: 2em;
                    margin: 0.6em 0;
                }
            }
            .abonnement-infos {
                display: flex;
                justify-content: flex-start;
                align-items: baseline;
                button {
                    margin: 0.5em;
                    width: fit-content;
                    color: $my-yellow;
                }
            }
        }
        .nav-list {
            margin: 1em 0 0 0;
            width: 100%;
            height: 8vh;
            position: sticky;
            top: 0;
            z-index: 1;
            li {
                width: 100%;
                height: 100%;
                button {
                    width: 100%;
                    height: 100%;

                }
            }
        }
        .profil-feed {
            margin: 0;
            width: 90%;
        }
        .modify-pop-up {
            margin: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            
            form {
                display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
                input {
                    width: 80vw;
                    margin: 0.5em;
                }
                textarea {
                    width: 80vw;
                    margin: 2em;
                }
                .btn-div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    button {
                        width: 6em;
                        height: 2.3em;
                        margin: 0.5em;
                    }
                }
            }
        }
    }
    .decouvrir {
        width: 100%;
        display: flex;
        justify-content: center;
        .feed {
            width: 90%;

            form {
                padding: 0.6em;
                margin:0;
                .search-input {
                    margin: 0;
                    height: 1.5em;
                    width: 100%;
                }
            }
        }
    }
    .pop-up {
        width: 100%;
        height: 100%;
        z-index: 3;
        .user-list {
            height: 28em;
            .container {
                align-items: center;
                img {
                    width: 2em;
                    height: 2em;
                }
            }
        }
        .close-part {
            .close-btn {
                margin: 1em 0;
                width: 5em;
            }
        }
    }
}